@media only screen and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
@media only screen and (min-width: 1024px) {
  #content-area{
    position: absolute;
    margin-left: 5%;
    width: 90%;
    background-color: green;
  }
  .content {
    position: relative;
    width: 29.56vw;
    height: 20%;
    display: inline-block;
  }
}
img {
    width: 100%;
    height: auto;
}
body {
  margin: 0;
  padding-top: 60px;
  height: 100%;
  width: 100%;
 
}.table {
 	list-style-type: none;

}
ol {
	list-style-type: none;
}
.position2 {
	position: relative;
	top: 100px;
}

.divs {
	position: relative;
	border-radius: 8px;
	left: 15%;
	width: 300px;
	background-color: blue;
	display: inline-block;
	margin: 2%;
	
}
