/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
* {
    margin: 1px;
}
body {
    padding-top: 50px;
}.table {
 	list-style-type: none;
}
ol {
	list-style-type: none;
}
.position2 {
	position: relative;
	top: 100px;
}

.links {
	position: relative;
	border: 2px solid black;
	border-radius: 8px;
	top: 5%;
	left: 0%;
	max-width: 300px;
}
.Midden {
	position: relative;
	border: 2px solid black;
	border-radius: 8px;
	top: 5%;
	left: 15%;
	max-width: 300px;
}
.Rechts {
	position: relative;
	border: 2px solid black;
	border-radius: 8px;
	top: 5%;
	left: 30%;
	max-width: 300px;
}