html{
  font-family: verdana;
  background-color: black;
  color: white;
}
#navbarbanner{
  z-index: -2;
}
#navbarlogo{
  z-index: 2;
  margin-top: -11%;
  margin-left: 0.5%;
  opacity: 0.69;
}
#navbar{
  margin-left: 17.75%;

}
a:link{
  text-decoration: none;
  color: white;
  padding-left: 4%;
}
a:hover{
  text-decoration: underline;
  color: #ffde00;
}
<<<<<<< HEAD

/*Contact pagina*/
#container{
	
}

#content{
	
}

#maps{
	
}
=======
dsdsd

dd d  ``      sdfghfh     dff
>>>>>>> origin/master
