@media only screen and (max-width: 767px) {
    .tekstPagina {position: relative;}
    h3 {font-size: 18px; font-weight: 700; line-height: 1.4;}
    p {line-height: 1.9; font-size: 13px;}
    .wrap {margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;}
    #hoofdTekst {margin-top: 24px; margin-bottom: 14px;}
    #titelTekst {font-family: sans-serif; font-weight: 600; line-height: 1.2;}
    body {padding-top: 50px;  height: 100%;}
    .footer {
        bottom:0px;
        left:0px;
        width:100%;
        color:#CCC;
        background:#333;
        padding:8px;
        text-align: center;
    }
    .content {padding-bottom: 50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
    body {width: 80%;}
}

img {
    width: 100%;
    height: auto;
}
