@media only screen and (max-width: 767px) {
    #mobile {display: block;}
    #iPad {display: none;}
    #deskTop {display: none;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #mobile {display: none;}
    #iPad {display: block;}
    #deskTop {display: none;}
}

@media only screen and (min-width: 1024px) {
    #mobile {display: none;}
    #iPad {display: none;}
    #deskTop {display: block;}
}

img {
    width: 100%;
    height: auto;
}

body {
    padding-top: 50px;
<<<<<<< HEAD
}
li {
	text-decoration: none;
	list-style-type: none;
}
ul {
	text-decoration: none;
	text-decoration-line: none;
=======
>>>>>>> origin/master
}